language: android
jdk:
  - oraclejdk8
android:
  components:
    - tools
    - tools
    - platform-tools
    - build-tools-28.0.3
    - android-28
    - extra-android-support
    - extra-google-google_play_services
    - extra-android-m2repository
    - extra-google-m2repository
    - addon-google_apis-google-21

before_install:
 - chmod +x gradlew

script: ./gradlew testRelease jacocoTestReport connectedCheck assembleRelease

after_success:
 - bash <(curl -s https://codecov.io/bash)
  
