<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khmelenko.lab.travisclient" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TravisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main application activity -->
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Authentication activity -->
        <activity
            android:name=".activity.AuthActivity"
            android:label="@string/title_activity_auth" />

        <!-- About -->
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_title" />

        <!-- Repository details -->
        <activity
            android:name=".activity.RepoDetailsActivity"
            android:label="@string/repo_details_title" />

        <!-- Search results -->
        <activity
            android:name=".activity.SearchResultsActivity"
            android:label="@string/search_results_title"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.SearchResultsActivity" />

    </application>

</manifest>
